<div class="content">
  <div class="container-detail">
    <div class="header">
      <div class="image-profile">
        <img src="" title="photo">
      </div>
      <div class="content-name">
        <span>{{ student.firstname }}</span>
        <span>{{ student.lastname }}</span>
      </div>
    </div>
    <p class="detail-cours">Les cours suivis</p>
    <div class="list-cours">
      <ol>
        <li><span>html</span></li>
        <li><span>css</span></li>
        <li><span>Javascript</span></li>
      </ol>
    </div>
    <div>
      <button class="button-editer">Editer</button>
    </div>
  </div>
</div>

